:root {
    font-size: 8pt;
}

html, body {
    padding: 0;
    margin: 0;
}

@page {
    size: 11.85cm 18.5cm;
    margin: 1.5cm 1.5cm 1cm 1.5cm;
}

.sautPage {
    width: 0;
    height: 0;
    page-break-before: always;
}

/* Style des textes des recits */

.recit h1 {
    font-family: 'Designer Block', Impact, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    page-break-before: always;
    page-break-after: avoid;
    page-break-inside: avoid;
}

.recit h2 {
    font-family: 'Designer Block', Impact, sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    border-bottom: solid 1pt #000;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: calc(1rem - 1pt);
    page-break-after: avoid;
    page-break-inside: avoid;
}

.recit p {
    font-family: 'DejaVu Sans Condensed', Arial, sans-serif;
    text-align: justify;
    font-style: normal;
    font-stretch: condensed;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    page-break-inside: avoid;
}

.recit ul {
    margin-top: -1rem;
    margin-bottom: 0;
    padding: 0 0 0 2rem;
    list-style-type: circle;
}

.recit li {
    font-family: 'DejaVu Sans Condensed', Arial, sans-serif;
    text-align: justify;
    font-style: normal;
    font-stretch: condensed;
    font-size: 1rem;
    margin: 0;
    page-break-inside: avoid;
}

.recit em {
    font-family: 'DejaVu Sans Condensed', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-stretch: condensed;
}

.recit cite {
    font-family: 'DejaVu Sans Condensed', Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-stretch: condensed;
}

.recit blockquote {
    margin: 0 2cm 0 2cm;
    page-break-inside: avoid;
}

.recit blockquote p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
