.footer {
    font-family: 'Designer Block', Impact, sans-serif;
    font-weight: normal;
    font-size: 11pt;
    text-align: center;
    line-height: 1cm;
    box-sizing: border-box;
    position: relative;
    top: 0.5cm;
    width: 100%;
    height: 1cm;
}

.footer.gauche {
    background: url('Footer Gauche.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.0cm;
    padding-right: 4.75cm;
}

.footer.droite {
    background: url('Footer Droite.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 8.95cm;
    padding-right: 1.0cm;
}