@page {
    size: 14.8cm 21cm;
    margin: 0cm;
}

html, body {
    border: 0;
    padding:0;
    margin: 0;
    width: 14.8cm;
    height: 20.99cm;
    overflow: hidden;
}

.couverture__illustration {
    width: 14.8cm;
    height: 20.99cm;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
}